.product-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.product-image img{
    width: 100%;
    height: 100%;
}

.add-to-cart-button {
    margin-left: auto;
}
